* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Tajawal", sans-serif;
}

button {
	border: none;
	font-size: 1rem;
}

@font-face {
	font-family: "Tajawal";
	src: url("~/assets/fonts/Tajawal-ExtraLight.ttf") format("truetype");
	font-weight: 200;
}

@font-face {
	font-family: "Tajawal";
	src: url("~/assets/fonts/Tajawal-Light.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: "Tajawal";
	src: url("~/assets/fonts/Tajawal-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Tajawal";
	src: url("~/assets/fonts/Tajawal-Medium.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "Tajawal";
	src: url("~/assets/fonts/Tajawal-Bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: "Tajawal";
	src: url("~/assets/fonts/Tajawal-ExtraBold.ttf") format("truetype");
	font-weight: 800;
}

@font-face {
	font-family: "Tajawal";
	src: url("~/assets/fonts/Tajawal-Black.ttf") format("truetype");
	font-weight: 900;
}
:root {
	--primary-color: #d20653;
	--background-color: #f5f5f5;
	--accent: #fbe5ed;
	--secondary: #44215d;
	--thirdly: #fdbc01;
	--accent-thirdly: #fff8e6;
}

body {
	background-color: var(--background-color);
	direction: rtl;
}

.grey {
	color: grey;
}
.layout {
	max-width: 90%;
	margin: auto;
}
.layout-padding {
	padding: 0 5em;
}

hr {
	margin: 2em 0;
}

.bg-accent-thirdly {
	background-color: var(--accent-thirdly);
}
.bg-thirdly {
	background-color: var(--thirdly);
}
.thirdly {
	color: var(--thirdly);
}
